* {
    box-sizing: border-box;
}



.nav{
    position: fixed;
    background #2222222;
    top: 0;
    left: 0;
    right: 0;


}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nan a {
    color: rgb(255,255,255);
    text-decoration: none;
    padding: 7px 15px;
}

.nav a:hover {
    font-weight: bold;
    color: #co392b;

}
/* nnnnn ctrl forward slash
nnn */

.hero {
    background-image: url('../images/aqua1.avif);
    height: 100vh;
}
